PORT="3000",
NODE_ENV="development",
MONGO_URI="mongodb+srv://[username:password@]host[/[defaultauthdb][?options]]"
JWT_SECRET="your-own-secret",
JWT_LIFETIME="24h"
GOOGLE_CLIENT_ID="your-client-id"
GOOGLE_CLIENT_SECRET="your-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3000"
GOOGLE_USER_INFO_URL="https://www.googleapis.com/oauth2/v1/userinfo"
GOOGLE_AUTH_TOKEN_URL="https://oauth2.googleapis.com/token"

