PORT="3000",
NODE_ENV="development",
MONGO_URI="mongodb+srv://[username:password@]host[/[defaultauthdb][?options]]"
JWT_SECRET="your-own-secret",
JWT_LIFETIME="24h"
BASE_URL="http://localhost:3000/api/v1"
GOOGLE_CLIENT_ID="your-client-id"
GOOGLE_CLIENT_SECRET="your-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3000"
GOOGLE_USER_INFO_URL="https://www.googleapis.com/oauth2/v1/userinfo"
GOOGLE_AUTH_TOKEN_URL="https://oauth2.googleapis.com/token"
GOOGLE_GEMINI_API_KEY="your-gemini-api-key"
EMAIL_HOST="your-email-host"
EMAIL_USER="your-email-id"
EMAIL_PASSWORD="your-email-password"
EMAIL_SERVICE="your-email service"
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-cloud-api-key"
CLOUDINARY_API_SECRET="your-cloud-api-secret"

